.parent{
    background-image: url('https://images.pexels.com/photos/26523907/pexels-photo-26523907/free-photo-of-abstract-green-and-black-photo-of-trees.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;

}